.header {
  h1 {
    font-size: 80px;
    line-height: 106px;
    border-bottom: 2px solid $dark;
  }
  img {
    margin-top: $s5;
    margin-bottom: $s5;
  }
}

.title {
  font-size: 32px;
  line-height: 43px;
  padding-bottom: $s1;
  border-bottom: 1px solid $dark;
  margin-bottom: $s2;
  font-weight: bold;
  span {
    font-size: 24px;
    line-height: 32px;
    color: $primary;
    margin-left: $s1;
    vertical-align: baseline;
  }
}

.title-light {
  font-size: 32px;
  line-height: 43px;
  padding-bottom: $s1;
  border-bottom: 1px solid $light;
  font-weight: bold;
  text-align: center;
  span {
    font-size: 24px;
    line-height: 32px;
    color: $light;
    margin-left: $s1;
    vertical-align: baseline;
  }
}

.full {
  background: $secondary;
  color: $light;
  padding-top: $s3;
  padding-bottom: $s4;
}

.skills {
  h2 {
    margin-bottom: 40px;
  }
  ul {
    width: 20%;
    :not(:last-child) {
      margin-bottom: $s2;
    }
  }
}
.contentList {
  padding-left: $s3;
  border-left: 1px solid #96a9c4;
}

.work {
  ul {
    margin-left: $s3;
    // :not(:last-child) {
    //   margin-bottom: $s3;
    // }
  }
  img {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.footer {
  h2 {
    margin-bottom: 32px;
  }
  .contact {
    margin-bottom: $s2;
  }
  a:hover {
    color: $primary;
  }
}

.linkList {
  display: flex;
  justify-content: center;
  li:not(:first-child) {
    margin-left: $s3;
  }
  li {
    &:hover {
      transform: scale(1.2);
    }
  }
}
