@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  /* 若要將多樣標籤一起調整，可用「,」 */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img　 {
  display: block;
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
}

.m0-a {
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  line-height: 106px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-72 {
  margin-bottom: 72px;
}

h1, span {
  font-family: 'Roboto', sans-serif;
}

h2, li, p {
  font-family: 'Noto Sans', sans-serif;
}

.header h1 {
  border-bottom: 2px solid #000000;
}

.header img {
  margin-top: 48px;
  margin-bottom: 48px;
}

.title {
  font-size: 32px;
  line-height: 43px;
  padding-bottom: 8px;
  border-bottom: 1px solid #000000;
  margin-bottom: 16px;
  font-weight: bold;
}

.title span {
  font-size: 24px;
  line-height: 32px;
  color: #A00404;
  margin-left: 8px;
  vertical-align: baseline;
}

.content {
  font-size: 24px;
  line-height: 36px;
}

.full {
  background: #415165;
  color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 36px;
}

.skills h2 {
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.skills span {
  color: #FFFFFF;
}

.skills ul {
  width: 20%;
}

.skills ul :not(:last-child) {
  margin-bottom: 16px;
}

.contentList {
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

.work ul {
  margin-left: 24px;
}

.work img {
  padding-top: 8px;
  padding-bottom: 8px;
}

.footer h2 {
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.footer span {
  color: #FFFFFF;
}

.footer .contact {
  text-align: center;
  margin-bottom: 16px;
}

.footer a {
  color: #FFFFFF;
  text-decoration: none;
}

.linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linkList :not(:first-child) {
  margin-left: 24px;
}
/*# sourceMappingURL=all.css.map */